--extra-index-url https://download.pytorch.org/whl/cu118
arpabetandipaconvertor==1.0.2
einops==0.7.0
einops-exts==0.0.4
Flask==3.0.3
gruut==2.3.4
jsonschema==4.19.1
librosa==0.10.1
munch==4.0.0
nltk==3.8.1
numpy==1.26.3
PyYAML==6.0.1
setuptools==80.9.0
soundfile==0.12.1
torch==2.1.2+cu118
torchaudio==2.1.2+cu118
transformers==4.36.2
git+https://github.com/resemble-ai/monotonic_align.git@78b985be210a03d08bc3acc01c4df0442105366f
